.icon-drop-down { background-image: url('png/drop-down.png'); background-repeat: no-repeat; }

.icon-turn-next { background-image: url('png/turn-next.png'); background-repeat: no-repeat; }

.icon-turn-prev { background-image: url('png/turn-prev.png'); background-repeat: no-repeat; }

